.header.flex-row {
    display: flex;
}

.logo {
    width: 25%;
    height: 200px;
}
.logo a {
    height: 100%;
}

.flex-column {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.menuBuscadorCarrito {
    display: flex;
}


// Hide Compare Button
// 
.prod .prod-compare{
	display: none !important;
}
p.prod-compare{
	display: none !important;
}
p.prod-li-compare {
	display: none !important;
}
.overfhidden{
	overflow: hidden;
}
.footer_image{
	background-size: cover;
	background-position: 100%;
}
.footer-info .footer-msg{
	color:#FFF;
}
.woof_text_search_container input[type='search'],.woof_sku_search_container input[type='search'] {
	width: 90% !important;
	height: 2em !important;
	line-height: 2em !important;
	font-size: 3em !important;
	padding: 1em !important;
	margin: 0em 5% !important;
	color: black;
}
.motor_product_categories .motor_product_categories_list .motor_product_categories_item a:hover .frontcategs-img{
	opacity:1;
	filter:sepia(100%);
}
.motor_product_categories .motor_product_categories_list .motor_product_categories_item .frontcategs-img{
	height: 100px;
}
