.header .header-logo-top{
	height: 200px;
	text-align: center;
}
.header .header-logo-top a img{
	height: 100%;
	margin: auto;
}
.header .header-logo{
	display:none;
}
@media only screen and (max-width: 650px){
	.header .header-logo-top {
		display: none;
		
	}
	.header .header-logo{
		display:block;
	}
	.header .header-logo a img{
		height: 100%;
	}
	.header {
		padding: 0 0 100px;
	}

}
